<%-include('../includes/head.ejs')%>
        <title><%=docTitle%></title>
        <style>
            body {
                background-image: radial-gradient(circle, rgba(255,153,205,1) 0%, rgba(163,237,255,1) 35%, rgba(255,232,118,1) 67%, rgba(126,255,99,1) 100%);
            }
            h5 {
                color: #00aaff;
            }
            .card {
                margin: 0 auto; /* Added */
                float: none; /* Added */
                margin-bottom: 10px; /* Added */
                width: 25rem;
                border: none;
                opacity: 0.7;
            }
        </style>
    </head>
    <body>
        <%-include('../includes/navigation.ejs')%>
        <div class="card mt-2">
            <div class="card-body">
                <h5 class="display-4 text-center">Login</h5>
                <form action="/login" method="POST">
                    <% if (message.error) { %>
                        <div class="alert alert-warning" role="alert">
                            <%= message.error %>
                        </div>
                    <% } %>
                    <% if (message.success) { %>
                        <div class="alert alert-success" role="alert">
                            <%= message.success %>
                        </div>
                    <% } %>
                    <% if (message.info) { %>
                        <div class="alert alert-info" role="alert">
                            <%= message.info %>
                        </div>
                    <% } %>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" value="<%= input.email %>" style="border-color: <%= validationErrors.find(e => e.param==='email') ? 'red;' : 'none;' %>" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" value="<%= input.password %>" style="border-color: <%= validationErrors.find(e => e.param==='password') ? 'red;' : 'none;' %>">
                    </div>
                    <input type="hidden" name="_csrf" value=<%= csrfToken %>>
                    <button type="submit" name="login" class="btn btn-primary">Login</button>
                    <button type="submit" name="forgotPassword" class="btn btn-link">Forgot Password</button>
                </form>
            </div>
        </div>
<%-include('../includes/end.ejs')%>