<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Weekay</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%=docTitle === 'Home' ? 'active' : ''%>">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item <%=docTitle === 'Products' ? 'active' : ''%>">
        <a class="nav-link" href="/products">Products</a>
      </li>
      <li class="nav-item <%=docTitle === 'My Cart' ? 'active' : ''%>">
        <a class="nav-link" href="/cart">My Cart</a>
      </li>
      <li class="nav-item <%=docTitle === 'My Orders' ? 'active' : ''%>">
        <a class="nav-link" href="/orders">Orders</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%=docTitle === 'Add Product' ? 'active' : ''%>">
        <a class="nav-link" href="/admin/add-product">Add Product</a>
      </li>
      <li class="nav-item <%=docTitle === 'My Store' ? 'active' : ''%>">
        <a class="nav-link" href="/admin/products">My Store</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%=docTitle === 'fAIce' ? 'active' : ''%>">
        <a class="nav-link" href="/api/faice">fAIce</a>
      </li>
      <li class="nav-item <%=docTitle === 'CVFY' ? 'active' : ''%>">
        <a class="nav-link" href="/cvfy">CVFY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://scrape-reviews.herokuapp.com/" target="_blank">ScrapR</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://flipapi.herokuapp.com/" target="_blank">FlipSearch</a>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <% if (isLoggedIn) { %>
        <li class="nav-item">
          <form action="/logout" method="POST">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <button type="submit" class="btn nav-link">Logout</button>
          </form>
        </li>
      <% } else { %>
        <li class="nav-item <%=docTitle === 'Login' ? 'active' : ''%>">
          <a class="nav-link" href="/login">Log in</a>
        </li>
        <li class="nav-item <%=docTitle === 'Signup' ? 'active' : ''%>">
          <a class="nav-link" href="/signup">Sign up</a>
        </li>
      <% } %>
    </ul>
  </div>
</nav>