<%-include('../includes/head.ejs')%>
        <title><%=docTitle%></title>
        <style>
            .card {
                margin: 0 auto; /* Added */
                float: none; /* Added */
                margin-bottom: 10px; /* Added */
                width: 25rem;
                border: none;
                opacity: 0.7;
            }
        </style>
    </head>
    <body>
        <%-include('../includes/navigation.ejs')%>
        <div class="container text-center mt-4">
            <h1 class="display-4"><%=docTitle%></h1>
        </div>
        <div class="card mt-2">
            <div class="card-body">
                <% if (message) { %>
                    <div class="text-center">
                        <div class="alert alert-success" role="alert">
                            <%= message %>
                        </div>
                        <a href="/" class="btn btn-primary">Go Home</a>
                    </div>
                <% } else { %>
                    <% if (resume) { %>
                        <h5 class="card-title">Update resume. Recruiters watching!</h5>
                        <p class="card-text">Sharing your updated resume, makes sure you are in the focus of recruiters using CVFY. Update with some new skills!</p>
                        <div class="text-center">
                            <a href="<%=resume%>" class="btn btn-outline-primary m-2">View Resume</a>
                        </div>
                    <% } else { %>
                        <h5 class="card-title">Upload resume. That's it!</h5>
                        <p class="card-text">Simply upload your resume. Then sit back and relax. Our program will work on your behalf!</p>
                    <% } %>
                <% if (errorMessage) { %>
                    <div class="alert alert-danger" role="alert">
                        <%= errorMessage %>
                    </div>
                <% } else { %>
                <div class="pl-4 pr-4">
                    <img class="card-img-top pl-4 pr-4" src="https://freeicons.io/laravel/public/uploads/icons/png/3813347461559033170-256.png" alt="Card image cap">
                </div>
                <% } %>
                <form action="/cvfy/resume" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <input type="file" class="form-control-file" name="resume">
                    </div>
                    <input type="hidden" name="_csrf" value=<%= csrfToken %>>
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
                <% } %>
            </div>
        </div>
<%-include('../includes/end.ejs')%>